@use "./vars" as *;

@font-face {
  font-family: "Bookman regular";
  src: url(../../../assets/fonts/bookman/BookmanOldStyleRegular.ttf);
}

@font-face {
  font-family: "Bookman bold";
  src: url(../../../assets/fonts/bookman/BookmanOldStyleBold.ttf);
}

@font-face {
  font-family: "Roboto regular";
  src: url(../../../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto bold";
  src: url(../../../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../../assets/fonts/inter/Inter-VariableFont_opszwght.ttf);
}

@font-face {
  font-family: "Playfair Display";
  src: url(../../../assets/fonts/playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "Lucida";
  src: url(../../../assets/fonts/lucida/lucidasansunicode.ttf);
}

body {
  overflow-x: hidden;
  font-family: $font-main;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1680px;
  width: 100%;
  border: solid red;

  &__header {
    background-color: aqua;
  }

  &--sm {
    max-width: 840px;
  }
}
