@use "./vars" as *;
@use "./mixins" as *;

@font-face {
  font-family: "Bookman regular";
  src: url(../../assets/fonts/bookman/BookmanOldStyleRegular.ttf);
}

@font-face {
  font-family: "Bookman bold";
  src: url(../../assets/fonts/bookman/BookmanOldStyleBold.ttf);
}

@font-face {
  font-family: "Roboto regular";
  src: url(../../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto bold";
  src: url(../../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/inter/Inter-VariableFont_opszwght.ttf);
}

@font-face {
  font-family: "Playfair Display";
  src: url(../../assets/fonts/playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "Lucida";
  src: url(../../assets/fonts/lucida/lucidasansunicode.ttf);
}

body {
  overflow-x: hidden;
  font-family: $font-main;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1728px;
  width: 100%;
  position: relative;

  &__header {
    padding-top: 154px;
    @include bg_image("../../assets/images/header/header-image-giraffe.png");
    background-position: center right 20px;
  }

  &__sm {
    max-width: 1420px;
  }
}

.orange {
  color: $orange;
}

.black {
  color: #000;
}

.lightgrey {
  color: $lightgrey;
}

.section {
  padding: 112px 0 120px 0;

  &__desc {
    font-weight: 600;
    font-size: 26px;
    position: absolute;
    top: 0;
    left: 15px;
  }
}

.title-2 {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  line-height: 65px;
  margin-bottom: 64px;
}

.left-text {
  text-align: left;
}

.title-3 {
  font-size: 34px;
  line-height: 1.3;
}
