@mixin bg_image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
}

@mixin cyrcleNumber() {
    font-style: normal;
      border: solid 2px #000;
      border-radius: 50%;
      padding: 8px;
}
