// Fonts

$font-main: "Bookman regular", sans-serif;
$font-secondary: "Roboto regular", sans-serif;
$font-third: "Inter", sans-serif;
$font-fourth: "Playfair Display", sans-serif;
$font-fifth: "Lucida", sans-serif;

// Colors
$bg_color: rgba(222, 116, 43, 0.9);
$orange: #df803e;
$lightgrey: #fcfcfc;
