/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Page scroll */
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Bookman regular";
  src: url(../../../assets/fonts/bookman/BookmanOldStyleRegular.ttf);
}
@font-face {
  font-family: "Bookman bold";
  src: url(../../../assets/fonts/bookman/BookmanOldStyleBold.ttf);
}
@font-face {
  font-family: "Roboto regular";
  src: url(../../../assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto bold";
  src: url(../../../assets/fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../../../assets/fonts/inter/Inter-VariableFont_opszwght.ttf);
}
@font-face {
  font-family: "Playfair Display";
  src: url(../../../assets/fonts/playfair/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "Lucida";
  src: url(../../../assets/fonts/lucida/lucidasansunicode.ttf);
}
body {
  overflow-x: hidden;
  font-family: "Bookman regular", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1680px;
  width: 100%;
  border: solid red;
}
.container__header {
  padding-top: 154px;
  background-image: url("../../../assets/images/header/header-image-giraffe.png");
  background-repeat: no-repeat;
  background-position: right;
}
.container--sm {
  max-width: 840px;
}

.header {
  background-color: rgba(222, 116, 43, 0.9);
  min-height: 1080px;
  background-image: url("../../../assets/images/header/header-triangle.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.header__row {
  border-bottom: solid 2px #fcfcfc;
  padding-top: 40px;
  padding-bottom: 32px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav-list-links, .header__nav-list-social {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__nav-list-links a {
  font-size: 26px;
  line-height: 19px;
  color: #000;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.header__nav-list-links a:hover {
  color: #fcfcfc;
}

.header__nav-list-social a img {
  transition: all 0.2s ease-in-out;
}
.header__nav-list-social a img:hover {
  transform: scale(1.2);
}

.header__body-title {
  font-family: "Bookman bold", sans-serif;
  font-size: 90px;
  margin-bottom: 24px;
}
.header__body-text {
  font-size: 50px;
  line-height: 65px;
  width: 55%;
  margin-bottom: 90px;
}
.header__body-button {
  border-radius: 10px;
  padding: 20px 42px;
  background-color: rgba(252, 252, 252, 0.7);
  font-size: 26px;
  transition: 0.2s ease-in-out;
  margin-bottom: 230px;
}
.header__body-button:hover {
  background-color: #fcfcfc;
  transform: scale(1.02);
}