/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Page scroll */
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Bookman regular";
  src: url(../../../assets/fonts/bookman/BookmanOldStyleRegular.ttf);
}
@font-face {
  font-family: "Bookman bold";
  src: url(../../../assets/fonts/bookman/BookmanOldStyleBold.ttf);
}
@font-face {
  font-family: "Roboto regular";
  src: url(../../../assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto bold";
  src: url(../../../assets/fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../../../assets/fonts/inter/Inter-VariableFont_opszwght.ttf);
}
@font-face {
  font-family: "Playfair Display";
  src: url(../../../assets/fonts/playfair/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "Lucida";
  src: url(../../../assets/fonts/lucida/lucidasansunicode.ttf);
}
body {
  overflow-x: hidden;
  font-family: "Bookman regular", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1728px;
  width: 100%;
  border: solid red;
  position: relative;
}
.container__header {
  padding-top: 154px;
  background-image: url("../../../assets/images/header/header-image-giraffe.png");
  background-repeat: no-repeat;
  background-position: center right 20px;
}
.container__sm {
  max-width: 1420px;
}

.orange {
  color: #df803e;
}

.black {
  color: #000;
}

.lightgrey {
  color: #fcfcfc;
}

.section {
  padding: 112px 0 120px 0;
}
.section__desc {
  font-weight: 600;
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 15px;
}

.title-2 {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  line-height: 65px;
  margin-bottom: 64px;
}

.left-text {
  text-align: left;
}

.header {
  background-color: rgba(222, 116, 43, 0.9);
  min-height: 1080px;
  background-image: url("../../../assets/images/header/header-triangle.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.header__row {
  border-bottom: solid 2px #fcfcfc;
  padding-top: 40px;
  padding-bottom: 32px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav-list-links, .header__nav-list-social {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__nav-list-links a {
  font-size: 26px;
  line-height: 19px;
  color: #000;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.header__nav-list-links a:hover {
  color: #fcfcfc;
}

.header__nav-list-social a img {
  transition: all 0.2s ease-in-out;
}
.header__nav-list-social a img:hover {
  transform: scale(1.2);
}

.header__body-title {
  font-family: "Bookman bold", sans-serif;
  font-size: 90px;
  margin-bottom: 24px;
}
.header__body-text {
  font-size: 50px;
  line-height: 65px;
  width: 55%;
  margin-bottom: 90px;
}
.header__body-button {
  border-radius: 10px;
  padding: 20px 42px;
  background-color: rgba(252, 252, 252, 0.7);
  font-size: 26px;
  transition: 0.2s ease-in-out;
  margin-bottom: 230px;
}
.header__body-button:hover {
  background-color: #fcfcfc;
  transform: scale(1.02);
}

.about__cards {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.about__cards-row {
  display: flex;
  justify-content: space-between;
}
.about__cards-row:first-child .about__cards-item:nth-child(3) {
  gap: 0;
  padding: 44px 59px 53px 59px;
}
.about__cards-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 53px 59px;
  width: 30%;
  text-align: center;
}
.about__cards-item:first-child {
  gap: 9px;
}
.about__cards-item h3 {
  font-weight: 300;
  font-size: 34px;
  line-height: 44px;
  width: 125%;
  text-align: center;
}

.benefits {
  background-color: rgba(222, 116, 43, 0.9);
}

.benefits__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 76px;
  align-items: center;
}
.benefits__body-button {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px 40px;
  font-weight: 300;
  font-size: 26px;
  width: 20%;
  transition: 0.3s ease-in-out;
}
.benefits__body-button:hover {
  background-color: #fcfcfc;
  border: 2px solid #fcfcfc;
}
.benefits__body-list {
  list-style-type: none;
  margin: 0 auto;
  background-image: url("../../../assets/images/section/.benefits/bg-left.png"), url("../../../assets/images/section/.benefits/bg-right.png");
  background-repeat: no-repeat;
  background-position: left bottom 16px, right bottom 16px;
  padding: 0 418px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits__body-item {
  border-bottom: solid 2px #000;
  padding: 16px 0 20px;
  width: 95%;
  font-weight: 300;
  font-size: 34px;
  line-height: 1.3;
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
  align-items: center;
}
.benefits__body-item:first-child {
  border-top: solid 2px #000;
}
.benefits__body-item i {
  font-style: normal;
  border: solid 2px #000;
  border-radius: 50%;
  padding: 8px;
}

.education__body {
  display: flex;
  flex-direction: column;
  gap: 88px;
  padding-top: 98px;
}

.education__body-top {
  display: flex;
  justify-content: space-between;
}
.education__body-top-right {
  width: 956px;
  height: 505px;
  background-image: url("../../../assets/images/section/.education/education_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 14px;
  position: relative;
  right: 0;
  bottom: -24px;
}
.education__body-top-left {
  padding-top: -10px;
  display: flex;
  flex-direction: column;
}

.education__body-top-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.education__body-item {
  font-weight: 300;
  font-size: 34px;
  line-height: 1.3;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.education__body-item i {
  font-style: normal;
  border: solid 2px #000;
  border-radius: 50%;
  padding: 8px;
}

.education__body-bottom-lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.education__body-bottom-lists ol {
  display: flex;
  justify-content: flex-start;
}
.education__body-bottom-lists ol li:first-child {
  margin-right: 248px;
}
.education__body-bottom-lists ol li:last-child {
  margin-left: 284px;
}
.education__body-bottom-lists ul {
  font-weight: 300;
  font-size: 26px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  -moz-column-gap: 144px;
       column-gap: 144px;
  padding-left: 86px;
}
.education__body-bottom-lists ul li {
  width: 26%;
}
.education__body-bottom-lists ul li:last-child {
  width: 27%;
  margin-left: 28px;
}