.about__cards {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &-row {
    display: flex;
    justify-content: space-between;

    &:first-child {
      .about__cards-item {
        &:nth-child(3) {
          gap: 0;
          padding: 44px 59px 53px 59px;
        }
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 53px 59px;
    width: 30%;
    text-align: center;

    &:first-child {
      gap: 9px;
    }

    h3 {
      font-weight: 300;
      font-size: 34px;
      line-height: 44px;
      width: 125%;
      text-align: center;
    }
  }
}
