@use "../base/vars" as *;
@use '../base/mixins' as *;

.benefits {
  background-color: $bg_color;
}

.benefits__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 76px;
  align-items: center;

  &-button {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px 40px;
    font-weight: 300;
    font-size: 26px;
    width: 20%;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: rgba($lightgrey, 1);
      border: 2px solid $lightgrey;
    }
  }

  &-list {
    list-style-type: none;
    margin: 0 auto;
    background-image: url("../../../assets/images/section/.benefits/bg-left.png"),
      url("../../../assets/images/section/.benefits/bg-right.png");
    background-repeat: no-repeat;
    background-position: left bottom 16px, right bottom 16px;
    padding: 0 418px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-item {
    border-bottom: solid 2px #000;
    font-weight: 300;
    font-size: 34px;
    line-height: 1.3;
    padding: 16px 0 20px;
    width: 95%;
    display: flex;
    column-gap: 36px;
    align-items: center;

    &:first-child {
      border-top: solid 2px #000;
    }

    i {
      @include cyrcleNumber();
    }
  }
}
