@use "../base/vars" as *;

.header {
  background-color: $bg_color;
  min-height: 1080px;
  background-image: url("../../../assets/images/header/header-triangle.png");
  background-repeat: no-repeat;
  background-position: right bottom;

  &__row {
    border-bottom: solid 2px $lightgrey;
    padding-top: 40px;
    padding-bottom: 32px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    &-list-links,
    &-list-social {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}

.header__nav-list-links a {
  font-size: 26px;
  line-height: 19px;
  color: #000;
  font-weight: 300;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $lightgrey;
  }
}

.header__nav-list-social a img {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.header__body {
  &-title {
    font-family: "Bookman bold", sans-serif;
    font-size: 90px;
    margin-bottom: 24px;
  }

  &-text {
    font-size: 50px;
    line-height: 65px;
    width: 55%;
    margin-bottom: 90px;
  }

  &-button {
    border-radius: 10px;
    padding: 20px 42px;
    background-color: rgba($lightgrey, 0.7);
    font-size: 26px;
    transition: 0.2s ease-in-out;
    margin-bottom: 230px;

    &:hover {
      background-color: rgba($lightgrey, 1);
      transform: scale(1.02);
    }
  }
}
