@use "../base/vars" as *;

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.form__holder {
  display: block;
  width: 550px;
  height: 593px;
  background-color: $lightgrey;
  border-radius: 48px;
  position: relative;
  padding: 120px 44px;
  text-align: center;

  &-close {
    position: absolute;
    top: 40px;
    right: 40px;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
    align-items: center;

    input {
      padding-bottom: 16px;
      padding-top: 8px;
      border-bottom: solid 2px;
      width: 100%;

      &::placeholder {
        font-size: 26px;
        color: #5c5c5c;
      }
    }

    button {
      margin-top: 40px;
      font-size: 26px;
      border-radius: 10px;
      padding: 20px 66px;
      width: 265px;
      background-color: $orange;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.form__title {
  margin-bottom: 40px;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.form__complete {
  height: 465px;
}

.required {
  border: solid 2px $orange !important;

  &::placeholder {
    color: $orange !important;
  }
}

@keyframes disappear {
  0% {
    transform: translateY(0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%) scale(0.9);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(100%) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem) scale(1);
    opacity: 1;
  }
}

.inactive {
  animation-name: disappear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.active {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
