@use "../base/vars" as *;

.team {
  background-color: $bg_color;

  &__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;

    &-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
    }
  }
}

.team__gallery-card {
  border-radius: 14px;
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;

  & img {
    border-radius: 14px;
  }
}

.back_view {
  height: 75%;

  & h3 {
    margin: 40px 0 18px;
    font-size: 30px;
  }

  & p {
    font-size: 22px;
  }
}

.front_view {
  max-width: 35%;

  &__title {
    margin: 36px 0 18px;
    font-size: 34px;
    line-height: 1.3;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 26px;
    padding: 0 40px;
  }
}

.team__gallery-btn {
  & svg {
    transition: 0.2s ease-in-out;
  }

  & svg:hover {
    transform: scale(1.1);
  }
}
