.travels__title {
  margin-bottom: 48px;
}

.travels__text {
  font-weight: 300;
  font-size: 34px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 48px;
}

.grid {
  display: grid;
  gap: 20px;
}

.travels__wrapper {
  grid-template-columns: 1fr 3fr;

  img {
    border-radius: 14px;
  }

  &-right {
    grid-template-rows: 38% 61%;

    &--top {
      grid-template-columns: 54% 45%;
    }

    &--bottom {
      grid-template-columns: 41% 58%;

      & .left-photo {
        height: 99%;
      }

      &--rs {
        grid-template-rows: 64% 35%;

        &--bottom {
            grid-template-columns: 40% 60%;
        }
      }
    }
  }
}
