@use "./base/_vars" as *;
@use "./base/reset";
@use "./base/mixins" as *;
@use "./base/base";

@use "./components/header";
@use "./components/about";
@use "./components/benefits";
@use "./components/education";
@use "./components/travels";
@use "./components/team";
@use "./components/references";
